.top-baner-block {
  height: auto;
  position: relative;
}
.style-with-comfort-img {
  background: url("https://lacoste.ru/img/brand/rene/mod-bs-rene-spirit.jpg") 0 0/ 100% auto no-repeat;
  height: 700px;
  width: 100%;
}

.top-baner-block-img {
  background: url("https://manrule.ru/images/article/orig/2020/03/muzhskaya-odezhda-lacoste-assortiment-i-tablica-razmerov.jpg") 0 0/ 100% auto no-repeat;
  height: 750px;
  width: 100%;
}

.top-baner-block-text {
  position: absolute;
  z-index: 2;
  top: 0;
  left: auto;
  margin: 200px 0 0 0 ;
}

.top-baner-item {
  font-size: 42px;
  font-weight: 700;
}

.top-baner-text {
  font-size: 28px;
  margin: 10px 0 ;
}

.top-baner-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2E8B57;
  margin: 30px 0;
  transition: 0.3s ease all;
}

.top-baner-link a {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s ease all;
}

.top-baner-link:hover {
  background-color: #2BB7E2;
}

.top-baner-link a:hover {
  color: #000000;
}

.baner-polaroid-collaction {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner-polaroid-collaction-item {
  font-size: 32px;
  margin: 0 0 15px 0 ;
}

.baner-polaroid-collaction-text {
  font-size: 24px;
  line-height: 120%;
  margin: 0 0 15px 0;
  text-align: center;
  color: #444141;
}

.baner-polaroid-collaction-link a {
  font-size: 24px;
  color: #000000;
  text-decoration: underline;
}

.shop-womens::before {
  content:'';
  border-left: 3px solid #000000;
  margin: 0 10px;
}

.baner-polaroid-collaction-link a:hover {
  text-decoration: none;
}

.baner-slideshow-flex {
  display: flex;
  justify-content: space-between;
}

.baner-slideshow-text {
  font-size: 32px;
}
.baner-slideshow-button {
  display: flex;
}

.btn-prev {
  margin: 0 20px;
  font-size: 22px;
  background-color: #FAF9F9;
  text-align: center;
  width: 40px;
  height: 30px;
}

.btn-next {
  font-size: 22px;
  background-color: #FAF9F9;
  text-align: center;
  width: 40px;
  height: 30px;
}

.baner-slideshow-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: 0.2s;
}

.slider-items {
  margin: 20px 16.6px;
  min-width: 400px;
  height: 300px;
}
.slider-items img {
  width: 400px;
  height: 400px;
}

.slide-block-image-text {
  height: 500px;
}

.slider-items p {
  margin-top: 10px;
  font-size: 18px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0 ;
}

.slider-dots-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #ccc8c8;
  cursor: pointer;
}

.slider-dots-item:last-child {
  margin: 0;
}

.active-dots {
  background-color: #525252;
}

.blocke-sale {
  margin: 10px 0;
  position: relative;
}

.sale-slider {
  overflow: hidden;
}

.blocke-sale-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1300px;
  height: 700px;
}

.sale-slider-track {
  display: flex;
  justify-content:space-between;
  transition: 0.2s;
  width: 100%;
}

.sale-slider-picture-text {
  margin: 0 100px 0 0px;
}

.sale-slider-picture {
  flex: 0 1 50%;
}

.sale-slider-picture img {
  height: 480px;
  width: 80%;
}

.sale-slider-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0 ;
}

.sale-item a {
  font-size: 30px;
  color: #000000;
}

.sale-sides-btn {
  display: flex;
}

.sale-prev {
  font-size: 22px;
  margin: 0 10px 0 0;
  background-color: #FAF9F9
}

.sale-next {
  font-size: 22px;
  background-color: #FAF9F9;
}

.sale-slider-picture-img {
  flex: 0 1 40%;
  width: 500px;
}
.sale-slider-picture-img img { 
  /* height: 350px;
  width: 100%; */
  width: 100%;
  height: 400px;
}

.sale-slider-text h2 {
  font-size: 25px;
  margin: 20px 0 10px 0;
}

.sale-slider-text p {
  font-size: 18px;
}

.style-with-comfort {
  margin-bottom: 40px;
}

.style-with-comfort-text {
  margin: 50px 0 0 0 ;
}

.polo-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 50px 0 ;
}

.polo-shop-item {
  font-size: 34px;
}

.polo-shop-text {
  font-size: 24px;
  color: #6D6565;
}
