*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x: hidden;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/AvenirLTStd-Book.eot');
	src: local('вє'), url('fonts/AvenirLTStd-Book.woff') format('woff'), url('fonts/AvenirLTStd-Book.ttf') format('truetype'), url('fonts/AvenirLTStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('вє'), url('fonts/AvenirLTStd-Black.woff') format('woff'), url('fonts/AvenirLTStd-Black.ttf') format('truetype'), url('fonts/AvenirLTStd-Black.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/AvenirLTStd-Roman.eot');
	src: local('вє'), url('fonts/AvenirLTStd-Roman.woff') format('woff'), url('fonts/AvenirLTStd-Roman.ttf') format('truetype'), url('fonts/AvenirLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

html, body {
  height: 100%;
}

body {
 min-height: 100%;
 display: flex;
 flex-direction: column;
}

.wrapper {
  background-color: rgb(250, 249, 249);
  font-family: AvenirLTStd;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a{
  font-size: 28px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.header-logo img {
  margin: 0 0 0 10px;
}

.header-navigation ul {
  display: flex;
}

.header-navigation li a {
  margin: 0 20px 0 0;
  color: rgb(0, 0, 0);
}

.header-info ul {
  display: flex;
}

.header-info li a {
  margin: 0 20px 0 0;
  color: rgb(0, 0, 0);
}

.header-info li a:hover, .header-navigation li a:hover {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 80px);
}

.top-baner-block {
  background: url(https://manrule.ru/images/article/orig/2020/03/muzhskaya-odezhda-lacoste-assortiment-i-tablica-razmerov.jpg) no-repeat;
  height: 750px;
  position: relative;
}

.top-baner-block-text {
  max-width: 1300px;
  margin: 50px 0 0 20px;
  position: absolute;
}

.top-baner-item {
  font-size: 42px;
  font-weight: 500;
}

.top-baner-text {
  font-size: 28px;
  margin: 10px 0 ;
}

.top-baner-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(46, 139, 87);
  margin: 30px 0;
  transition: 1s ease all;
}

.top-baner-link a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 1s ease all;
}

.top-baner-link:hover {
  background-color: rgb(43, 183, 226);

}

.top-baner-link a:hover {
  color: rgb(0, 0, 0);
}

.baner-polaroid-collaction {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner-polaroid-collaction-item {
  font-size: 32px;
  margin: 0 0 15px 0 ;
}

.baner-polaroid-collaction-text {
    font-size: 24px;
    line-height: 120%;
    margin: 0 0 15px 0;
    text-align: center;
    color: rgb(68, 65, 65);
}

.baner-polaroid-collaction-link a {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.shop-womens::before {
  content:'';
  border-left: 3px solid rgb(0, 0, 0);
  margin: 0 10px;
}

.baner-polaroid-collaction-link a:hover {
  text-decoration: underline;
}

.baner-slideshow-flex {
  display: flex;
  justify-content: space-between;
}

.baner-slideshow-text {
  font-size: 32px;
}
.baner-slideshow-button {
  display: flex;
}
.btn-prev {
  margin: 0 20px;
  font-size: 22px;
  background-color: rgb(250, 249, 249) ;
  text-align: center;
  width: 40px;
  height: 30px;
}
.btn-next {
  font-size: 22px;
  background-color: rgb(250, 249, 249) ;
  text-align: center;
  width: 40px;
  height: 30px;
}

.baner-slideshow-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: 0.2s;
}

.slider-items {
  margin: 20px 16.6px;
  min-width: 400px;
  height: 300px;
}

.slide-block-image-text {
  height: 500px;
}

.slider-items p {
  margin-top: 10px;
  font-size: 18px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0 ;
}

.slider-dots-item {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: rgb(236, 234, 234);
  cursor: pointer;
}

.slider-dots-item:last-child{
  margin: 0;
}
.active-dots {
  background-color: rgb(0, 0, 255);
}

.image-style {
  margin: 50px 0;
  position: relative;
}

.style-with-comfort-text {
  position: absolute;
  margin: -700px 0 0 60px;
}

.bloce-style-item {
  font-size: 34px;
}

.bloce-style-text {
  font-size: 24px;
  color: rgb(109, 101, 101);
}

.blocke-polo-shope {
}
.polo-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 50px 0 ;
}

.polo-shop-item {
  font-size: 34px;
}

.polo-shop-text {
  font-size: 24px;
  color: rgb(109, 101, 101);
}

footer a {
  color: rgb(109, 101, 101);
  margin: 10px 0 0 0;
}

footer a:last-child {
  margin-bottom: 20px;
}

footer p {
  margin: 50px 0 20px 0 ;
}

.line {
  border-top: 2px solid rgb(109, 101, 101);
}

.footer-flex {
  display: flex;
  justify-content: space-around;
}

.mail-contry, .mail {
  margin: 20px 0;
  
}

.mail, .country, .mail input {
  height: 22px;
  font-size: 20px;
  box-shadow: 2px 2px 2px  rgb(109, 101, 101);
  background: rgb(250, 249, 249);
}


.oll-information {
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
}

.follow-us {
  display: flex;
  flex-direction: column;
}