.men-best-steps {
    display: flex;
}

.men-best-steps h2 {
    margin: 30px 0 30px 10px;
    font-size: 14px;
}

.men-best-steps span {
    margin: 0 0 0 5px;
}

.men-best-steps h2:first-child{
    margin-left: 0;
}

.men-items-flex {
    display: flex;
    justify-content: space-between;
}

.men-item {
    margin: 15px 0 30px 0px;
    font-size: 24px;
    font-weight: 700;
}

.men-filter {
    display: flex;
}

.men-filter span {
    font-weight: 700;
    padding: 0 0 0 3px;
    cursor: pointer;
}

.filter-flex {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;
}

.filter-info {
    font-size: 14px;
    max-height: auto;
}

 .open-arows {
    padding: 5px 0 0 0;
    font-size: 14px;
    display: none;    
} 

.open {
   display: block; 
}

.open p {
    padding: 5px 0 0 0;
}

.rotte {
    display: block;
    margin-bottom: auto;
    transform: rotate(180deg);
    transition: 0.3s ease all;
}

.arows {
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease all;     
}

.men-best-product {
    display: flex;
    margin-bottom: 50px;
}

.men-best-product:last-child {
    margin-bottom: 0;
}

.product-men-best {
    flex: 0 1 33.333%;
}

.product-img img {
    height: 370px;   
}

.product-name {
    margin: 15px 0 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #6D6565;
}

.product-price {
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #304224;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #D3C5C5;
    width: 230px;
    height: 80px;
    margin: 50px 0;
    font-size: 22px;
    color: #6D6565;
    transition: 0.3s ease all;
}  

.btn-button:hover {
    background-color: #6D6565;
    color: #D3C5C5;
}
