.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo a {
    font-size: 28px;
    color: #000000;
    display: flex;
    align-items: center;
    font-weight: 400;
  }
  
  .header-logo span {
    font-weight: 700;
  }
  
  .header-logo img {
    height: 50px;
    width: 40px;
    margin: -2px 0 0 10px;
  }
  
  .header-navigation ul {
    display: flex;
  }
  
  .header-navigation li a {
    margin: 0 20px 0 0;
    color: #000000;
  }
  
  .header-info ul {
    display: flex;
  }
  
  .header-info li a {
    margin: 0 20px 0 0;
    color: #000000;
  }
  
  .header-info li a:hover, .header-navigation li a:hover {
    text-decoration: underline;
  }

  /* hover */
  .menu-link-first:hover .absol {
    display: block;
  }

  .color {
    background-color: #FAF9F9;
    height: 100%;
    width: 100%;
  }

  .absol {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 48px 0 0 0;   
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .absol a {
    color: #6D6565;
  }
  
  .absol a:last-child {
    margin-bottom: 20px;
  }
  
  .absol a:hover {
    text-decoration: underline;
  }
  
  .absol p {
    margin: 50px 0 20px 0 ;
  }
  
  .hover-flex {
    display: flex;
    justify-content: space-between;
  }

  .hover-flex h2 {
    margin: 20px 0 15px 0 ;
    font-size: 16px;
    font-weight: 700;
  }

  .hover-flex a {
    display: inline-block;
    padding: 15px 0 0 0;
  }
    
  .clothing, .shoes, .accessories, .lesther, .shop-by-theme {
    display: flex;
    flex-direction: column;
  }

  .shop-by-theme img {
    width: 260px;
    height: 260px;
  }

  .shop-by-theme h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 0 0;
  }

  .shop-by-theme p {
    margin: 15px 0 0 0;
    font-size: 14px;
    color: #6D6565;
  }


  


  
  